<div class="container">
  <div class="details">
    <h2>Login</h2>
    <form [formGroup]="loginform" (ngSubmit)="submit()">
      <input-container lable="Email">
      <input type="email" placeholder="Email" formControlName="email">
      <input-validaton
        [control]="fc.email"
        [showErrorsWhen]="isSubmitted">
      </input-validaton>

    </input-container>



    <div class="input-container">
      <label for="password">Password</label>
      <div>
      <input type="password" placeholder="Password" formControlName="password">
    </div>
    </div>

    <div class="error-list">
      <div class="alert alert-danger" *ngIf="fc.password.touched && fc.password.errors?.['required']">*password is required</div>
    </div>

  <div class="button">
    <button type="submit">Login</button>
  </div>

    </form>
  </div>
</div>
